.jumbotron
	clearfix()
	color #fff
	font-size 17px

	.jumbotron__container
		padding 35px
		background rgba($color-primary, 0.92)

	h1
		font-size 42px
		color #fff

	.list.list--links li
		font-size 18px

		&:before
			color #fff
			font-size 18px

		&:last-child
			margin-bottom 0

	.header &
		lost-center 1150px

		.jumbotron__container
			width 50%

