.confirm-popup
	position fixed
	left 0
	top 0
	height 100%
	width 100%
	background-color rgba(94, 110, 141, 0.9)
	opacity 0
	visibility hidden
	transition opacity 0.3s 0s, visibility 0s 0.3s
	z-index 2000

	&.is-visible
		opacity 1
		visibility visible
		transition opacity 0.3s 0s, visibility 0s 0s

.confirm-popup-container
	clearfix()
	position relative
	width 90%
	max-width 400px
	background #FFF
	border-radius 3px
	text-align center
	box-shadow 0 0 20px rgba(0, 0, 0, 0.2)
	transform translateY(-40px)
	/* Force Hardware Acceleration in WebKit */
	-webkit-backface-visibility hidden
	-webkit-transition-property -webkit-transform
	-moz-transition-property -moz-transform
	transition-property transform
	transition-duration 0.3s

	.confirm-popup-text
		margin 40px 20px 30px 20px

	.confirm-buttons
		list-style none
		padding 0
		margin 0

		li
			float left
			width 50%

		a
			display block
			height 60px
			line-height 60px
			text-transform uppercase
			color #FFF
			font-weight bold
			transition background-color 0.2s

			&:hover
				text-decoration none

			&.confirm-popup-cancel
				background #b6bece
				border-radius 0 0 0 3px

				&:hover
					background-color #c5ccd8

			&.confirm-popup-confirm
				background #fc7169
				border-radius 0 0 3px 0

				&:hover
					background-color #fc8982


	.confirm-popup-close
		position absolute
		top 8px
		right 8px
		width 30px
		height 30px
		border none
		background none
		/* replace text with an image */
		text-indent 100%
		color transparent
		white-space nowrap
		overflow hidden

		&::before
		&::after
			content ''
			position absolute
			top 12px
			width 14px
			height 3px
			background-color #8f9cb5

		&::before
			transform rotate(45deg)
			left 8px

		&::after
			transform rotate(135deg)
			right 8px


.is-visible .confirm-popup-container
	transform translateY(0)

@media only screen and (min-width: 1170px) {
	.confirm-popup-container {
		margin: 125px auto;
	}
}
