
$nav-height = 60px

/* -----------------------------
	:: Mobile Styles ::
------------------------------ */

.main-nav
	background-color #fff
	text-align left

	nav
		position relative
		max-width $max-width
		min-height $nav-height
		line-height $nav-height
		margin auto
		overflow hidden

	ul
		float left
		margin 0
		padding 0
		list-style none
		overflow hidden

	li
		display inline
		float left
		width auto
		margin-bottom 0

		// letter-spacing 0

		&:not(.logo)
			display none

		&.logo img
			height 32px

		&.main-nav__item--with-icon a:before
			float left
			margin-right 15px
			font-size 17px
			font-weight 400
			@extend .icon

		&.wallet a:before
			@extend .icon--wallet-90:before
			color $color-primary

		&.exchange a:before
			@extend .icon--conversion:before
			color $color-secondary

		&.investment a:before
			@extend .icon--chart-bar-33:before
			color $color-tertiary

	a
		display block
		font-size 20px
		font-weight 500

		&.active
			background-color #4CAF50
			color white

		&:not(.btn)
			padding 0 20px
			color #000
			text-decoration none

		&.btn
			height 40px
			line-height 40px
			margin 10px

	.main-nav__toggle
		position absolute
		right 0
		top 0
		width auto

		&:before
			display inline-block
			line-height $nav-height
			@extend .icon
			@extend .icon--menu-bold:before
			width auto

	&.main-nav--open
		ul
			width 100%

		li
			display block

			> a
				padding 0

		.main-nav__list--primary li
			width calc(100% - 40px)
			margin 0 20px
			border-bottom 1px solid $color-gray

			&.logo
				width 100%
				padding 0 20px
				margin 0
				border-bottom-width 2px

		.main-nav__list--secondary
			margin 10px 0

			li
				width 100%
				padding 0 20px
				line-height 40px

				&.login
					padding-right 5px
				&.register
					padding-left 5px

				&.login
				&.register
					width 50%
					margin-top 30px
					text-align center

					.btn
						margin 0
						border-radius 0

			a
				font-size 16px
				font-weight 600

		.main-nav__toggle:before
			@extend .icon--bold-remove:before


/* -----------------------------
	:: Tablet Styles ::
------------------------------ */

// @media screen and (min-width : 768px)


/* -----------------------------
	:: Desktop Styles ::
------------------------------ */

@media only screen and (min-width : 992px)
	.main-nav
		ul:not(:first-child)
			float right

		li
			&:not(.logo)
				display inline

			&.logo a
				margin-right 50px

		a
			font-size 15px
			font-weight 600

		.main-nav__toggle
			display none
