footer.footer
	div.footer__container
		//- div.footer__lists
		ul.footer__list
			li
				h3 Crypto Wallet
			li
				a(href='/', title='Over ons') Features
			li
				a(href='/', title='Vergelijk tarieven') Support Center
			li
				a(href='/', title='Teleconference') Terms
			li
				a(href='/', title='Telefonisch Vergaderen') Telefonisch Vergaderen

		ul.footer__list
			li
				h3 Exchange

		ul.footer__list
			li
				h3 Investment

		ul.footer__list
			li
				h3 Legal

		ul.footer__list
			li
				h3 Crypto Wallet


		img(src='/img/logo.png', alt='Logo', height="75px")

		p
			small © 2014 - 2018 Bitrush. All Rights Reserved.


		//- ul.footer__bottom-nav
		//- 	li © #{new Date().getFullYear()} EasyConferencing.
		//- 	li
		//- 		a(href='/privacy-policy', title='Privacy policy') Privacy policy
		//- 	li
		//- 		a(href='/algemene-voorwaarden', title='Algemene voorwaarden') Algemene voorwaarden
