head
  meta(charset='utf-8')
  meta(http-equiv='utf-8', content='IE=edge')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content=meta.description)

  //- meta(name='google-site-verification', content='IJ2CVdCNXBDtiaFcv6cZ7-Oiip5tVxMyhswJtKJmsug')
  //- base(href=baseUrl)

  title #{meta.title}

  link(rel='stylesheet', href='/build/main.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:300,400,400i,500,600,700')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,500,600,700')
  link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
  link(rel='icon', href='/favicon.ico', type='image/x-icon')

  block head
