section.main-nav#js-main-nav
  nav
    ul.main-nav__list.main-nav__list--primary
      li.logo
        a(href='/')
          img(src='/img/logo.png', alt='Logo', height="32px")
      li.wallet.main-nav__item--with-icon
        a(href='javascript: void(0);') Crypto Wallet
      li.exchange.main-nav__item--with-icon
        a(href='javascript: void(0);') Buy / Sell
      li.investment.main-nav__item--with-icon
        a(href='javascript: void(0);') Investment

    ul.main-nav__list.main-nav__list--secondary
      li.help
        a(href='/help') Help
      li.contact
        a(href='/help') Contact
      li.login
        a(href='/login').btn.btn--default.btn--outline.btn--rounded Login
      li.register
        a(href='/register').btn.btn--primary.btn--rounded Register

    a(href='javascript: void(0);').main-nav__toggle
