section.topbar
	ul(class='about')
		//- li(class='language')
		//- 	span Taal: Nederlands
		li(class='phone')
			span 020 717 36 39
		li(class='business-hours')
			span Mon - Fri: 9:30 - 17:30
		//- li(class='support')
		//- 	a(href='mailto:support@easyconferencing.nl') support@easyconferencing.nl
		li(class='best-buy')
			span 5 cent flat for all European numbers
		li(class='register')
			a(href='/register') Create Account
