extends ../../cards/card-text

block card-vars
  - var cardName = 'audio-usp'

block card-header
  h3 Conference call

block card-content
  ul(class='list list--usp')
    li Slechts 5 cent per minuut
    li Geen abonnement of contract
    li Tot maar liefst 1.000 deelnemers
    li Unieke veiligheidsoplossingen
    li Geen dure 0900-nummers
    li Inbelnummers in 70+ landen
    li Reserveren is niet nodig

  br

block card-links
  a(href='/conference-call/hd-kwaliteit', title='Conference call met HD kwaliteit') Meer informatie
