extends ../../cards/card-cta

append card-vars
  - var cardName = 'best-price'
  - var color = 'primary'

block card-header
  h2 5 cent p.m.

block card-links
  a(href='#', class='btn btn--primary btn--soft btn--bold', title='####') More information
