extends ../../cards/card-inline

append card-vars
  - var cardName = 'contact-inline'
  - var color = 'primary'

block card-content
  div.card__content-left.card__
    i.nci.ui-3_phone-call
  p Heeft u vragen bel dan gerust op 020 717 36 39
