extends ../../cards/card-text

block card-vars
  - var cardName = 'dial-in-rates'

block card-content
  table.table.table--striped.table--lg
    thead
      tr
        th(colspan='2')
          h3 Top 5 landen
          a(href='/tarieven') Toon alle tarieven

    tbody
      each country in popularList
        tr
          td
            img(src='/img/flags/' + country.code + '@2x.png', alt=country.code + '-flag', width='23', height='17')
            span= country.name
          td= country.local.format('$0.00')
