extends ../../cards/card-image

block card-vars
  - var cardName = 'quality'

block card-image
  img(src='/img/bg/380400835.jpg', alt='Quality garantue background image')

block card-header
  h2 Kwaliteitsgarantie
  p Door ons wereldwijde netwerk en jarenlange ervaring in het het leveren van conference call diensten, zijn wij in staat hoogstaande kwaliteit te combineren met een ongekend scherp tarief.
