extends ../../cards/card-cta

append card-vars
  - var cardName = 'signup-cta'
  - var color = 'tertiary'

block card-header
  h2
    | Meld u direct risicoloos aan.
    br
    | Geen vaste kosten. Geen contracten.

block card-content
  p Onze klanten blijven omdat ze tevreden zijn met onze conference call dienst.
  p Niet omdat ze vastzitten aan langdurige contracten.

block card-links
  a(href='/aanmelden', class='btn btn--tertiary btn--dark btn--bold', title='Meld u volledig risicoloos aan!', data-ga='register',data-ga-action='click', data-ga-label='Purple Button - Bottom') Meld u aan zonder risico!
