extends ../../cards/card-text

block card-vars
  - var cardName = 'tier1-operators'

block card-header
  h3 Tier 1 Providers

block card-content
  p Onze <a href="#">conference call dienst</a> is van hoogstaande kwaliteit, om dit te bereiken werken wij met top level Tier 1 operators.
  p Deze Tier 1 operators maken uitsluitend gebruik van hun eigen telefoonnetwerk, en zorgen ervoor dat gesprekken niet worden overgedragen aan externe telefoonnetwerk operators.
