extends ../../cards/card-text

block card-vars
  - var cardName = 'video-usp'

block card-header
  h3 Videoconferencing

block card-content
  ul(class='list list--usp')
    li Gebruik uw bestaande webcam
    li Volledig kosteloos te gebruiken
    li Tot maar liefst 1.000 deelnemers
    li Wereldwijd deelnemen via VoIP
    li Kristalheldere HD-videokwaliteit
    li Beschikbaar voor Windows / MacOS
    li Automatische ActiveSpeaker™

  br

block card-links
  a(href='/web-conference/hd-video', title='Videoconferencing informatie') Meer informatie
