$topbar-height = 60px

.topbar
	clearfix()
	position fixed
	display none
	top 0
	width 100%
	height $topbar-height
	line-height $topbar-height
	padding 0 25px
	font-size 13px
	font-weight 600
	background #fff
	color $color-gray-dark
	box-shadow 0 1px 0 0 rgba(7, 7, 33, .1)
	z-index 200

	ul
		lost-center 1150px
		padding 0
		margin 0 auto
		line-height $topbar-height
		list-style none
		text-align justify

	li
		position relative
		display inline-block
		height $topbar-height
		padding-left 25px
		margin-right 30px

		&:last-child
			float right
			padding-right 25px
			margin-right 0

		&:before
			position absolute
			font-family 'Nucleo Outline'
			font-size 15px
			color $color-primary

		&.language:before
			content '\eb5e'
			left 0

		&.phone:before
			content '\edb8'
			left 0

		&.business-hours:before
			content '\ed8f'
			left 0

		&.support:before
			content '\e7eb'
			left 0

		&.best-buy:before
			content '\e7b0'
			left 0

		&.register
			height $topbar-height - 20px
			line-height $topbar-height - 20px
			margin 10px 0
			background $color-secondary

			a
				color #fff
				background $color-secondary
			// content '\ea90'
			// right 0
