# OS Files
.DS_Store*
Icon?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
.directory
*~

# My Files
.env
package-lock.json
yarn.lock
yarn-error.log
/node_modules
/public/build/*
/dist
/test
/_files
/_project
/.idea
