.layout__one-column
	background #fff

	> main
		// max-width 1150px
		// margin 0 auto
		padding 20px 0 0 0

		.bg-image
			height 325px
			overflow hidden

			img
				width 100%

	> .bottom-content
		margin-top 30px
