.article
	width 100%
	padding 60px 75px
	background #fff
	// border-top 8px solid $color-primary
	// background #fff url($img-path + 'blocked-border.png') top left repeat-x;
	box-shadow 0px 2px 1px 0px rgba(0,0,0,.2)

	&.article--wide
		p, span, dl, ol, ul
			padding-right 15%

	&.article--bg-image
		position relative
		background linear-gradient(180deg, hsla(0, 0%, 100%, .9) 0, #fff 75px, #fff)
		margin-top -75px
		z-index 10

	.article__header
		padding-bottom 30px
		margin-bottom 30px
		border-bottom 1px solid $color-gray-light

		&--title-only
			padding 0
			border none

		p
			font-weight 400
			font-size 1.15em

			&:last-child
				margin-bottom 0

	.article__bullet-points
		margin-bottom 30px
		font-size 15px
		border-bottom 1px solid $color-gray-light

		p, span, dl, ol, ul
			padding-right 0

		h2
			color $color-text
			font-size 22px

		ul
			list-style none

		li
			position relative
			display inline-block
			// height 100px
			width calc(50% - 20px)
			margin 0 30px 30px 0
			overflow hidden

			&:nth-child(even)
				margin-right 0

			// &:nth-last-of-type(-n+2)
			// 	background red

		p
			margin 10px 0 0 0

		strong
		h3
			font-size 16px
			padding-left 25px
			color $color-text
			font-weight 600

			&:before
				@extends .nci
				content '\eceb'
				position absolute
				left 0
				margin-right 10px
				color $color-secondary
