block card-vars

div(class='card card--text card--'+cardName)
	div(class='card__container')
		div(class='card__body')
			div(class='card__header')
				block card-header

			div(class='card__content')
				block card-content

			div(class='card__links')
				block card-links
