.page--home
	.header
		// background #e3dede
		height 100vh
		background $color-gray-light
		text-align center

	// 	.jumbotron
	// 		display inline-block
	// 		margin 40px 0
	// 		width auto
	// 		// text-align left

	// 	h1
	// 		.option
	// 			border-bottom 2px solid green


	// .main-content
	// 	.userguide
	// 		@extends .article.article--bg-image

	// 	.main-usp
	// 		margin-bottom 30px
