section.screen-sharing-usp
  header
    h2 Een webconference oplossing die wél eenvoudig te gebruiken is.

  p Heeft u wel eens een webconference geprobeerd op te zetten, met VoIP tegelijkertijd? Vermoedelijk was dat een slechte ervaring: vertraging in het beeld, geluid dat wegviel en uw scherm dat bevroor.

  p Onze webconference oplossing is een toevoeging op ons veelal geprezen conference call service, en we zijn trots dat wij u een kosteloze dienst kunnen aanbieden die probleemloos te gebruiken is.

  ul.list.list--inline
    li.join-fast
      img(src='/img/laptop-71.svg', alt='Laptop')
      h3 Geef betere online presentaties
      p Online presentaties zijn het beste als deze op tijd beginnen en zonder technische problemen. De sleutel hiertoe is eenvoud en betrouwbaarheid, zodat u zich volledig kunt focussen op de boodschap die u wilt overbrengen aan uw deelnemers.

    li.real-time
      img(src='/img/centralize.svg', alt='Gedecentraliseerd')
      h3 Laat live uw presentaties zien
      p Naast het geven van PowerPoint presentaties, kunt u via onze professionele webconference oplossing bijvoorbeeld ook ontwikkelde software demonstreren,  applicaties delen of uw gehele bureaublad op bijzonder eenvoudige wijze tonen.

    li.collaborate
      img(src='/img/mirror-2.svg', alt='Spiegel')
      h3 Werk efficiënter samen
      p Vaak ontstaan er onduidelijkheden door lange e-mail conversaties tussen personen. Door het opzetten van een webconference met uw deelnemers en documenten live te delen, kunt u problemen direct doornemen en vaak in zeer korte tijd efficiënt oplossen.
