section.userguide
  h2 Binnen drie stappen een conference call opzetten
  ul.list
    li.userguide__list-item.userguide__step-1
      div.userguide__list-header
        h3 Stap 1: &nbsp;Aanmelden
      div.userguide__list-content
        span #[a(href='/aanmelden', title='Eenmalig & snel aanmelden') Meld eenmalig uw organisate op deze pagina aan] en ontvang de inbelnummers en uw persoonlijke toegangscodes via de e-mail.
    li.userguide__list-item.userguide__step-2
      div.userguide__list-header
        h3 Stap 2: &nbsp;Uitnodigen
      div.userguide__list-content
        span Geef uw deelnemers het inbelnummer, uw persoonlijke toegangscode, en de datum en het tijdstip van de conference call.
    li.userguide__list-item.userguide__step-3
      div.userguide__list-header
        h3 Stap 3: &nbsp;Vergaderen
      div.userguide__list-content
        span Op het moment van de conference call bellen alle deelnemers het inbelnummer, en toetsen desgevraagd uw toegangscode.
        //- span At the time of the conference, all participants call their in-country dial-in number followed by the host's access code.
