.spinner
	display inline-block
	vertical-align middle

	div
		float left
		width 8px
		height 8px
		margin 0 1px
		border-radius 100%
		background lighten($color-primary, 50%)
		opacity 0.3
		animation spinner 1.5s infinite ease

	div:nth-child(1)
		animation-delay 0

	div:nth-child(2)
		animation-delay 0.2s

	div:nth-child(3)
		animation-delay 0.4s

	div:nth-child(4)
		animation-delay 0.6s

	div:nth-child(5)
		animation-delay 0.8s

@keyframes spinner {
	0% 		{ opacity: 0.3; }
	30% 	{ opacity: 1; }
	60% 	{ opacity: 0.3; }
	100% 	{ opacity: 0.3; }
}
