support-for-ie = false

// Colors
$color-text      = #4c4d4e
$color-primary   = #55bbeb
$color-secondary = #00B863
$color-tertiary  = #6d60b0

$color-info      = #ffc917
$color-success   = #00B863
$color-error     = #d9534f
$color-warning   = #e99d1a

$color-gray          = #e5e5e5
$color-gray-light    = #f0f1f5
$color-gray-lighter  = #F6F9FB
$color-gray-lightest = #F3F7F9
$color-gray-dark     = #4d4d4d
$color-gray-darker   = #1e1e1e

// Typography
$font-size        = 16px
$text-line-height = 26px

$max-width = 1040px

// Paths
$font-path = '../fonts/'
$img-path  = '../img/'
