.label
	font-size 13px
	font-weight 500
	text-transform uppercase
	letter-spacing 0.5px
	color $color-primary

	.label__required
		color $color-error
		font-weight bold

	.label__optional
		position absolute
		margin 1px 0 0 5px
		text-transform lowercase
		color $color-gray
		font-size 9px

	.label__icon
		margin-left 10px
		color $color-text
		font-size 10px

	.form > &
		border-bottom 1px solid $color-gray-light

	.form fieldset > &
		float left
		width 33.33%
		border-right 1px solid $color-gray-light
