*
	box-sizing border-box

body
	font-family 'Nunito', sans-serif
	// font-family 'Lato', sans-serif
	font-style normal
	font-size $font-size
	font-weight 400
	line-height $text-line-height
	color $color-text
	letter-spacing 0.25px

h1, h2, h3, h4
	font-weight 400

h1
	margin-top 0
	margin-bottom 20px
	line-height 1.2em
	font-size 46px
	font-weight 300

h2
	margin-bottom 25px
	line-height 1.2em
	font-size 28px

h3
	font-size 20px
	line-height 1.3em
	font-weight 500

h4
	line-height 1.2em
	font-size 14px
	font-weight 500

i:before
	font-size 14px

a
	color $color-primary
	text-decoration none

	&:hover
		color darken($color-primary, 50%)
		text-decoration none

hr
	margin 50px 0

b
strong
	font-weight 600

small
	font-size 14px

.tag
	display inline-block
	color #333
	background #DDE1E4
	border-radius 3px
	padding 0 4px
