section.main-usp
  ul.list.main-usp__list
    li.main-usp__list-item
      div.main-usp__list-header
        img(src='/img/award-49.svg', alt='Award icon', width='40', height='40')
        h2 Kwaliteitsgarantie
      div.main-usp__list-content
        p Door ons wereldwijde netwerk en jarenlange ervaring in het het leveren van conference call diensten, zijn wij in staat hoogstaande kwaliteit te combineren met een ongekend scherp tarief van 5 cent per minuut.
    li.main-usp__list-item
      div.main-usp__list-header
        img(src='/img/link-broken-70.svg', alt='Broken chain icon', width='40', height='40')
        h2 Geen contract
      div.main-usp__list-content
        p Wij geloven in de kracht van onze conference call dienst en werken daarom zonder contracten. Wij willen klanten die blijven omdat ze tevreden zijn en niet omdat ze een langdurig contract hebben afgesloten.
    li.main-usp__list-item
      div.main-usp__list-header
        img(src='/img/round-euro.svg', alt='Money sign icon', width='40', height='40')
        h2 Geen verbruik is geen factuur
      div.main-usp__list-content
        p Geen abonnements- of aansluitkosten of u nu één of meerdere gebruikers binnen uw organisatie heeft. U betaalt alleen de gemaakte belminuten. Dus geen verbruik betekent bij ons geen factuur!
    li.main-usp__list-item
      div.main-usp__list-header
        img(src='/img/network.svg', alt='Group of people in network icon', width='40', height='40')
        h2 Eenvoudig voor iedereen
      div.main-usp__list-content
        p Onze producten zijn van de grond af aan opgebouwd met de visie dat krachtige diensten eenvoudig te gebruiken moeten zijn. Om deze reden zijn onze diensten geschikt voor zowel sporadische gebruikers als power-users.
