.table
	width 100%

	th
	td
		padding 10px 20px
		vertical-align middle
		border-top 1px solid $color-gray-light
		white-space nowrap

		&:first-child
			padding-left 30px

		&:last-child
			padding-right 30px

		&.disabled
			background $color-gray-light
			cursor not-allowed

		&.empty:before
			content ''
			display block
			width 40px
			height 3px
			background red

		&.center
			text-align center

		&.condensed
			padding 0

		img
			margin-right 15px

	thead th
		text-align left
		vertical-align bottom
		border-bottom 2px solid $color-gray-light
		white-space nowrap

	tbody + tbody
		border-top 2 solid $color-gray-light

	&&--bordered
		// border 1px solid $color-gray-lights

		th
		td
			border 1px solid $color-gray-light

		tr > th:first-child
		tr > td:first-child
			border-left none

		tr > th:last-child
		tr > td:last-child
			border-right none

	&&--striped
		tbody tr:nth-of-type(odd)
			background-color $color-gray-lighter

	&&--lg
		th, td
			padding 17px 15px

	&&--no-padding
		th:first-child
		td:first-child
			padding-left 0

		th:last-child
		td:last-child
			padding-right 0
