extends ../../cards/card-image

block card-vars
  - var cardName = 'screen-sharing'

block card-image
  img(src='/img/bg/403752217.jpg', alt='Screen sharing background image')

block card-header
  h2 Gratis Screen Sharing
  h3 More than 800.000 conferences served each month.
