extends ../../cards/card-text

block card-vars
  - var cardName = 'web-usp'

block card-header
  h3 Webconferencing

block card-content
  ul(class='list list--usp')
    li Eenvoudig uw bureaublad delen
    li Volledig kosteloos te gebruiken
    li Tot maar liefst 1.000 deelnemers
    li Geen installatie voor deelnemers
    li Q&A en lecturemode
    li Chat- en deelnemerslijst
    li Zéér gebruiksvriendelijk

  br

block card-links
  a(href='/web-conference/gratis-screen-sharing', title='Webconferencing informatie') Meer informatie
