.solutions
	lost-utility clearfix
	lost-center 1150px

	.solutions__header
		margin-top 50px
		margin-bottom 30px

		h2
			display inline
			margin-right 30px

		a:before
			content '\ea56'
			margin-right 10px
			font-family 'Nucleo Outline'
			font-size 12px
