filter()
	vendor('filter', arguments, only: official webkit ms moz)


placeholder-color(color)
	&::-webkit-input-placeholder
		color color !important

	&:-moz-placeholder  /* Firefox 18- */
		color color !important

	&::-moz-placeholder  /* Firefox 19+ */
		color color !important

	&:-ms-input-placeholder
		color color !important

center(type=xy)
	if type == xy
		left 50%
		top 50%
		bottom auto
		right auto
		transform translateX(-50%) translateY(-50%)

	else if type == x
		left 50%
		right auto
		transform translateX(-50%)

	else if type == y
		top 50%
		bottom auto
		transform translateY(-50%)

has(name)
	&__{name}
		{block}

mod(name)
	&--{name}
		{block}
