extends ../layouts/1-column

block header
  //- section.jumbotron
  //-   div.jumbotron__container
  //-     h1 Everybody can do #[span.option crypto]

  //-     a(href='/aanmelden').btn.btn--white.btn--outline.btn--rounded.btn--small Meld u kosteloos aan
