button(color)
	background color
	color lighten(color, 85%)
	border 1px solid color

	&:hover
			background darken(color, 5%)

	&.btn--soft
		background lighten(color, 15%)
		color lighten(color, 95%)

	&.btn--dark
		background darken(color, 30%)

		&:hover
			background darken(color, 20%)

		&:before
			background darken(color, 20%)

	&.btn--outline
		color color
		border 1px solid color
		background transparent

		&:hover
			color darken(color, 15%)
			border-color darken(color, 15%)

			&:after
				color darken(color, 15%)

		&:after
			color color


// Button styles
button
	margin 0
	border none
	background none

.btn
	box-sizing content-box
	position relative
	display inline-block
	line-height 56px
	height 56px
	padding 0 20px
	font-size 16px
	font-weight 500
	color #fff
	background none
	transform translateZ(0)
	cursor pointer
	backface-visibility hidden
	-moz-osx-font-smoothing grayscale

	&:not([loading]):before
		content ""
		position absolute
		z-index -1
		top 0
		bottom 0
		left 0
		right 0
		transform scaleY(0)
		transform-origin 50%
		transition-property transform
		transition-duration 0.1s
		transition-timing-function ease-out

	&:hover:before
	&:focus:before
	&:active:before
		transform scaleY(1)

	&:hover
		color #fff
		text-decoration none

	&[disabled]
		cursor not-allowed

	&[loading]
		padding-left 40px

		&:before
			@extend .icon
			content '\edc7'
			position absolute
			left 12px
			animation nc-icon-spin 2s infinite linear

	i
		position absolute
		font-size 1.1em
		line-height inherit

.btn--default
	button($color-text)

.btn--primary
	button($color-primary)

.btn--secondary
	button($color-secondary)

.btn--tertiary
	button($color-tertiary)

.btn--success
	button($color-success)

.btn--white
	button(#fff)

.btn--justify
	display block
	// width 100%

.btn--center
	text-align center

	&:after
		display none

.btn--flex
	// position relative
	height 100%
	// line-height normal
	// line-height 40px

.btn--small
	height 46px
	line-height 46px
	padding 0 25px
	font-size 16px

.btn--large
	height 64px
	line-height 64px
	font-size 17px

.btn--bold
	font-weight 600

.btn--rounded
	border-radius 30px
