.header
	lost-utility clearfix
	background-repeat no-repeat
	background-position center center
	background-size cover
	// background-color rgba($color-primary, 0.75)
	// background-blend-mode multiply
